<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FortyOne.AudioSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AudioSwitcher.AudioApi" publicKeyToken="fda5729e2db3a64f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.173" newVersion="2.3.0.173"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <FortyOne.AudioSwitcher.Properties.Settings>
      <setting name="AudioSwitcher_AudioSwitcherService_AudioSwitcher"
        serializeAs="String">
        <value>http://services.audioswit.ch/AudioSwitcher.asmx</value>
      </setting>
    </FortyOne.AudioSwitcher.Properties.Settings>
  </applicationSettings>
</configuration>
